@import '01-base/mixins';
@import '01-base/normalize';
@import '01-base/variables';

html {
  box-sizing: border-box;
  font-size: 16px;
  background: $c-grey-100;

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: $f-primary-fallback;
  font-family: $f-primary;
  font-weight: $f-weight-primary-regular;
  font-style: normal;
  letter-spacing: 0.002em;
  line-height: 1.38;
  background: $c-grey-100;
  color: $c-text;

  html.inter-loaded & {
    font-family: $f-primary;
  }
}

p {
  margin: 0.5rem 0;
}

em {
  font-size: 1rem;
  font-style: italic;
}

strong {
  font-weight: $f-weight-primary-bold;
  font-style: normal;
  color: $c-black;
}

a {
  color: $c-link;
  text-decoration: none;

  &:hover,
  &:hover:visited {
    color: darken($c-link, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.5rem 0;
  font-weight: $f-weight-primary-bold;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: $c-heading;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

h1+h2,
h2+h3,
h3+h4,
h4+h5,
h5+h6 {
  margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

pre {
  overflow: scroll;
}

figure {
  margin: 1rem 0;
}