@import '01-base/variables';
@import '01-base/mixins';
@import '01-base/normalize';

html {
  box-sizing: border-box;
  font-size: 16px;
  background: $c-white;

  @media (min-width: 900px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
  @media (min-width: 1400px) {
    font-size: 22px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $f-primary-fallback;
  font-weight: $f-weight-primary-regular;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1.25;
  background: $c-white;
  color: $c-text;
  overflow-x: hidden;

  .ibm-plex-sans-loaded & {
    font-family: $f-primary;
  }
}

p {
  margin: 0 0 1.75rem;
}

em {
  font-size: 1rem;
  font-style: italic;
}

strong {
  font-weight: $f-weight-primary-regular;
  font-style: normal;
  color: $c-black;
}

a {
  color: $c-text;
  text-decoration: underline;
  text-decoration-skip: objects;
  text-decoration-color: $c-link;
  transition: color 0.5s;

  &:hover,
  &:hover:visited {
    color: $c-primary;
    transition: color 0.2s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.5em 0 0.75rem;
  line-height: 1.125;
  // letter-spacing: -0.03em;
  color: $c-heading;

  .ibm-plex-sans-loaded & {
    font-weight: $f-weight-primary-regular;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

h1+h2,
h2+h3,
h3+h4,
h4+h5,
h5+h6 {
  margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

pre,
code {
  font-family: $f-mono-fallback;
  font-weight: $f-weight-mono-regular;

  .ibm-plex-mono-loaded & {
    font-family: $f-mono;
  }
}

pre {
  overflow: scroll;
}

figure {
  margin: 1rem 0;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.skip-to-content {
  position: absolute;
  top: -100rem;
  left: 0;
  font-family: $f-primary;

  &:focus {
    top: 0;
  }
}