.blog-post {
  display: block;
  width: 100%;

  @media (min-width: 1200px) {
  }
}

.blog-post__header {
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  font-family: $f-secondary-fallback;
  font-weight: $f-weight-secondary-regular;

  html.nunito-loaded & {
    font-family: $f-secondary;
  }

  h1 {
    margin: 1rem 0;
    font-size: 1.75rem;
    line-height: 1.1;
  }

  @media (min-width: 900px) {
    padding: 3rem 0;

    h1 {
      font-size: 2.25rem;
    }
  }
}

.blog-post__metadata {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: $c-primary;
  font-size: 0.75rem;
}

// .blog-post__reading-time {
//   margin: 0;
//   padding: 0 1rem;

//   span {
//     display: block;
//   }
// }

.blog-post__date {
  margin: 0;
  padding: 0 1rem;

  time {
    display: block;
  }
}

.blog-post__content {
  max-width: 36rem;
  margin: 0 auto;
}