.site-main {
  max-width: 75rem;
  padding: 0 1.5rem 1.5rem;
  
  @media (min-width: 500px) {
    padding: 0 2.5rem 2.5rem;
  }
  @media (min-width: 600px) {
    padding: 0 3.5rem 3.5rem;
  }
  @media (min-width: 900px) {
    padding: 0 4.5rem 4.5rem;
  }
}


.page-header {
  // max-width: 36rem;
  // margin: 0 auto;
  padding: 2rem 0;
  text-align: left;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 40%;
    column-gap: 1.5rem;
    padding: 3rem 0;
  }
}

.page-header__summary {
  text-align: left;

  @media (min-width: 900px) {
  }
}

.page-header__title {
  margin: 0;
  margin-top: -0.125em;
  font-size: 2rem;
  // line-height: 0.875;

  @media (min-width: 900px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 2.75rem;
  }
}

.page-header__metadata {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-size: 1rem;

  @media (min-width: 900px) {
    padding-right: 1.5rem;
    border-right: solid 0.25rem $c-black;
  }
}

.page-header__categories {
  margin: 1em 0 0;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: capitalize;

  @media (min-width: 900px) {
    font-size: 1.25rem;
  }
}

.page-header__date {
  margin: 0;

  // time {
  //   display: block;
  // }
}

.page__content {
  max-width: 36rem;
  margin: 0 auto;
}


.blog-list__header {
  margin: 0 auto;
  padding: 1rem 0;
  border-top: solid 2px $c-black;
}

.blog-list__title {
  margin: 1rem 0;
  font-size: 1.25rem;
  line-height: 1.1;

  @media (min-width: 900px) {
    font-size: 1.5rem;
  }
}