.site-main {
  max-width: none;
  padding: 0;
  // padding: 0 1.5rem 1rem;
  
  // @media (min-width: 500px) {
  //   padding: 0 1.5rem 2.5rem;
  // }
  // @media (min-width: 600px) {
  //   padding: 0 2.5rem 3.5rem;
  // }
  // @media (min-width: 900px) {
  //   padding: 0 2.5rem 4.5rem;
  // }
  // @media (min-width: 1200px) {
  //   padding: $s-header-height 2.5rem 4.5rem;
  // }
  // @media (min-width: 1400px) {
  //   padding: $s-header-height 3.5rem 4.5rem;
  // }
  // @media (min-width: 1800px) {
  //   padding: $s-header-height 4.5rem 4.5rem;
  // }
}


.page-header {
  padding-top: 10rem;
  padding-top: clamp(6rem, 30vh, 12rem);
  padding-bottom: 2rem;
  text-align: left;

  @media (min-width: 1200px) {
    padding-top: $s-header-height + 10rem;
    padding-top: clamp($s-header-height + 6rem, 50vh, $s-header-height + 12rem);
  }
}

.page-header__summary {
  // max-width: 45rem;
  font-size: 2rem;
  text-align: left;

  @media (min-width: 1200px) {
    grid-column: span 3;
    // width: 55%;
    font-size: 3rem;
  }
}

.page-header__title {
  margin: 0;
  font-size: 2rem;

  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}

.page-header__metadata {
  margin: 0 0 1rem;
  font-size: 1rem;

  @media (min-width: 900px) {
    padding-right: 1.5rem;
  }
}

.page-header__categories {
  margin: 1em 0 0;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: capitalize;

  @media (min-width: 900px) {
    font-size: 1.25rem;
  }
}

.page-header__date {
  margin: 0;
  font-family: $f-mono-fallback;
  font-weight: $f-weight-mono-regular;

  .ibm-plex-mono-loaded & {
    font-family: $f-mono;
  }

  // time {
  //   display: block;
  // }
}

.page__content {
  max-width: 56rem;
  margin: 0 auto;
}
