.site-header {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.5rem 1.25rem;

  @media (min-width: 600px) {
    padding: 0.5rem 1.5rem;
  }
  @media (min-width: 900px) {
    padding: 1rem 2rem;
  }
  @media (min-width: 1200px) {
    padding: 1.5rem 2.5rem;
  }
  @media (min-width: 1400px) {
    padding: 1.5rem 3rem;
  }
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.site-header__nav {
  margin-left: 2rem;
}

.nav-list {
  @include no-list;
  display: flex;
}

.nav-list__item {
  display: inline-block;
  padding: 0 0.5rem;
}

.nav-list__link {

}