.site-footer {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;

  @media (min-width: 500px) {
    padding: 0.5rem 2.5rem;
  }
  @media (min-width: 600px) {
    padding: 0.5rem 3.5rem;
  }
  @media (min-width: 900px) {
    padding: 1rem 4.5rem;
  }
  @media (min-width: 1200px) {
    padding: 1.5rem 4.5rem;
  }


  small {
    display: block;
    margin-top: 1rem;
    font-size: 0.65rem;
    text-align: center;

    @media (min-width: 600px) {
      margin-top: 0;
      text-align: left;
    }
  }

  .social-nav__link {
    font-size: 0.875rem;
  }

  .social-nav__item {
    display: block;

    @media (min-width: 600px) {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}

.site-footer__inner {
  text-align: center;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}