.site-header {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.5rem 2rem;

  @media (min-width: 600px) {
    padding: 0.5rem 2.5rem;
  }
  @media (min-width: 900px) {
    padding: 1rem 3rem;
  }
  @media (min-width: 1200px) {
    padding: 1.5rem 3rem;
  }
}

.site-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__nav {
}

.nav-list {
  @include no-list;
  display: flex;
}

.nav-list__item {
  display: inline-block;
  padding-right: 1rem;

  @media (min-width: 600px) {
    padding-right: 1.5rem;
  }
  @media (min-width: 900px) {
    padding-right: 2rem;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.nav-list__link {
  text-decoration: none;

  &:hover,
  &:hover:visited {
    color: $c-heading;
    text-decoration: underline;
    text-decoration-color: $c-link;
  }
}
