{{ partial "header/site-header.html" . }}

<main id="site-main" class="site-main">

  <article class="content">
    <header class="content-intro">
      <div class="rte content-intro__summary">
        <h1 class="content-intro__title">{{ .Title }}</h1>
      </div>
    </header>

    <ul class="content-list">
      <!-- Ranges through content/blog/*.md -->
      {{ range (.Paginator 9).Pages }}  
        <li class="content-list__item" itemscope itemType="http://schema.org/BlogPosting">
          <a class="content-list__item-link" href="{{.RelPermalink}}" title="Read: {{ .Title }}.">
            {{ if .Params.categories }}
              <p class="content-list__item-categories">
                {{ range $i, $cat := .Params.categories }}{{ if $i }}, {{ end }}{{ $cat }}{{ end }}
              </p>
            {{ end }}

            <h2 class="content-list__item-title">{{ .Title }}</h2>
            <p class="content-list__item-summary">
              {{ if .Description }}
                {{ .Description }}
              {{ else }}
                {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
              {{ end }}
            </p>
          </a>
        </li>
      {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
  </article>
</main>

{{ partial "footer/site-footer.html" . }}