{{ partial "header/site-header.html" . }}

<main class="site-main">
  <ul class="blog-list">
    <!-- Ranges through content/blog/*.md -->
    {{ range (.Paginator 5).Pages }}  
      <li class="blog-list__item">
        <a class="blog-list__item-link" href="{{.RelPermalink}}">
          {{ if .Params.categories }}
            <p class="blog-list__item-categories">
              {{ range .Params.categories }}
                {{ . }}
              {{ end }}
            </p>
          {{ end }}
          <h2 class="blog-list__item-title">{{ .Title }}</h2>
          <p class="blog-list__item-summary">
            {{ if .Description }}
              {{ .Description }}
            {{ else }}
              {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
            {{ end }}
          </p>
        </a>
      </li>
    {{ end }}
  </ul>
</main>

{{ partial "footer/site-footer.html" . }}