.blog {
  margin-bottom: 2.5rem;

  @media (min-width: 600px) {
    margin-bottom: 3.5rem;
  }
  @media (min-width: 900px) {
    margin-bottom: 4.5rem;
  }
}

.blog-list {
  @include no-list;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;

  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 600px) {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }
  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-column-gap: 3rem;
    // grid-row-gap: 3rem;
  }
  @media (min-width: 1400px) {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}

.blog-list__item {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  vertical-align: top;

  @supports (display: grid) {
    max-width: none;
  }
}

.blog-list__item-link {
  display: block;
  text-decoration: none;
  text-align: left;

  &:hover,
  &:hover:visited {
    .blog-list__item-image {
      opacity: 0.6;
    }

    .blog-list__item-categories {
      color: $c-primary;
    }
    
    .blog-list__item-title {
      color: $c-primary;
    }
    
    .blog-list__item-summary {
      color: $c-primary;
    }
  }
}

.blog-list__item-figure {
  position: relative;
  display: block;
  width: 100%;
  // height: 20%;
  margin: 0 0 0.5rem;
  padding-bottom: 66.666%;
  background-color: $c-primary;
}

.blog-list__item-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s;
}

.blog-list__item-categories {
  @extend .nunito;
  margin: 0.75rem 0 0.5rem;
  color: $c-primary;
  font-size: 0.65rem;
  text-transform: uppercase;
  transition: color 0.2s;
}

.blog-list__item-title {
  margin: 0.5rem 0;
  color: $c-heading;
  font-size: 1.125rem;
  transition: color 0.2s;
}

.blog-list__item-summary {
  margin: 0;
  color: $c-text;
  transition: color 0.2s;
}