.logo,
h1.logo {
  align-self: center;
  margin: 0;
  padding-right: 1rem;
  line-height: 1;
  font-size: 1rem;
  font-family: $f-mono;
  font-weight: $f-weight-mono-regular;

  // span:first-of-type {
  //   display: block;
  //   font-size: 0.75rem;
  //   line-height: 1;
  //   // letter-spacing: 0.1px;
  // }

  // span:last-of-type {
  //   display: block;
  //   line-height: 1;
  // }

  a {
    color: $c-text;
    text-decoration: none;

    &:hover,
    &:hover:visited {
      color: $c-text;
      text-decoration: underline;
      text-decoration-color: $c-link;
    }
  }
}