.logo {
  @extend .nunito;
  margin: 0;
  line-height: 1.3;
  font-size: 1.25rem;

  a {
    text-decoration: none;

    &:hover,
    &:hover:visited {
      color: $c-heading;
      text-decoration: underline;
      text-decoration-color: $c-link;
    }
  }
}