.rte {

  p {

    code {
      display: inline;
      word-break: break-word;

      @media (min-width: 600px) {
        word-break: initial;
      }
    }
  }

  code {
    background-color: $c-grey-900;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    // margin-top: 2rem;

    &:before {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 3px;
      margin-right: 0.25rem;
      border-radius: 5px;
      background-color: $c-link;
    }
  }

  > figure {
    display: block;
    width: 100%;
    max-width: none;
    margin: 3rem 0;

    picture,
    img,
    source {
      display: block;
      width: 100%;
      height: auto;
    }

    figcaption {
      margin-top: 0.5rem;
      font-size: 0.75rem;
      color: $c-primary;
    }
  }

  > img {
    text-align: left;
  }
}

.highlight {
  display: block;
  margin: 1rem 0;
  border-left: solid 2px $c-primary;
  background-color: $c-grey-900;
  overflow: hidden;

  pre {
    margin: 0;
    padding: 0.5rem;
    overflow-x: auto;
  }

  @media (min-width: 600px) {

    pre {
      padding: 1rem 1.75rem;
    }
  }
}