<footer class="site-footer">
  <div class="site-footer__inner">
    <nav class="social-nav">
      <ul class="social-nav__list">
        <li class="social-nav__item">
          <a href="https://www.instagram.com/gammastop/" class="social-nav__link">Instagram</a>
        </li>
        <li class="social-nav__item">
          <a href="https://twitter.com/derek_morash" class="social-nav__link">Twitter</a>
        </li>
        <li class="social-nav__item">
          <a href="https://codepen.io/derekmorash/" class="social-nav__link">Codepen</a>
        </li>
      </ul>
    </nav>

    <small>&copy; 2020 Derek Morash</small>
  </div>
</footer>
</body>
</html>