<footer class="site-footer">
  <div class="site-footer__inner">
    <p class="logo"><a href="/">Derek Morash</a></p>

    <nav class="social-nav">
      <ul class="social-nav__list">
        <li class="social-nav__item">
          <a href="/" class="social-nav__link">Instagram</a>
        </li>
        <li class="social-nav__item">
          <a href="/" class="social-nav__link">Twitter</a>
        </li>
        <li class="social-nav__item">
          <a href="/" class="social-nav__link">Codepen</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="site-footer__copyright">
    <small>&copy; 2019 Derek Morash</small>
  </div>
</footer>
</body>
</html>