<footer class="site-footer">
  
  <!-- Begin Mailchimp Signup Form -->
  <div class="site-footer__signup">
    <p>Subscribe to my newsletter for infrequent updates on new sketches, tutorials, and prints!</p>

    <form action="https://derekmorash.us4.list-manage.com/subscribe/post?u=58bd9365f793c1a3a4742717a&amp;id=3b3208c788" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
      
      <label for="mce-EMAIL">Email Address</label>
      <input type="email" value="" name="EMAIL" placeholder="email" id="mce-EMAIL" required>
        
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <label for="b_58bd9365f793c1a3a4742717a_3b3208c788" class="screen-reader-only">Name</label>
      <input style="position: absolute !important; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0;" type="text" name="b_58bd9365f793c1a3a4742717a_3b3208c788" id="b_58bd9365f793c1a3a4742717a_3b3208c788" tabindex="-1" value="">

      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->

  <div class="site-footer__inner">

    <nav class="social-nav">
      <ul class="social-nav__list">
        <li class="social-nav__item">
          <a href="https://www.instagram.com/gammastop/" class="social-nav__link">Instagram</a>
        </li>
        <li class="social-nav__item">
          <a href="https://twitter.com/derek_morash" class="social-nav__link">Twitter</a>
        </li>
        <li class="social-nav__item">
          <a href="https://codepen.io/derekmorash/" class="social-nav__link">Codepen</a>
        </li>
      </ul>
    </nav>

    <small>&copy; 2020 Derek Morash</small>
  </div>
</footer>
</body>
</html>