{{ partial "header/site-header.html" . }}

<main id="site-main" class="site-main">

  <article class="home-intro">
    <h1 class="home-intro__title">{{ .Title }}</h1>
    {{/*  <figure class="home-intro__figure">
      {{ $homeIntro := resources.Get "images/home-intro.jpg" }}
      <img src="{{ $homeIntro.Permalink }}" alt="{{ .Title }}" class="home-intro__image">
    </figure>  */}}
    <div class="rte home-intro__body">
      {{ .Content }}
    </div>
  </article>

  <article class="blog">
    <header class="blog-list__header">
      <h2 class="blog-list__title">Blog</h2>
    </header>
    <ul class="blog-list">
      <!-- Ranges through content/blog/*.md -->
      {{ range first 3 ( where .Site.RegularPages "Type" "blog" ) }}
        <li class="blog-list__item">
          <a class="blog-list__item-link" href="{{.RelPermalink}}" title="Read: {{ .Title }}.">
            {{/*  <figure class="blog-list__item-figure">

              {{ $placeholder := resources.Get "images/blog-placeholder.jpg" }}
              <img src="{{ $placeholder.Permalink }}" alt="{{ .Title }}" class="blog-list__item-image">
            </figure>  */}}
            {{ if .Params.categories }}
              <p class="blog-list__item-categories">
                {{ range $i, $cat := .Params.categories }}{{ if $i }}, {{ end }}{{ $cat }}{{ end }}
              </p>
            {{ end }}
            <h2 class="blog-list__item-title">{{ .Title }}</h2>
            <p class="blog-list__item-summary">
              {{ if .Description }}
                {{ .Description }}
              {{ else }}
                {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
              {{ end }}
            </p>
          </a>
        </li>
      {{ end }}
    </ul>
  </article>
  
</main>
 
{{ partial "footer/site-footer.html" . }}