{{ partial "header/site-header.html" . }}

<main id="site-main" class="site-main">

  <header class="home-intro">
    <div class="home-intro__summary">
      {{ .Content }}
    </div>
  </header>

  <section class="content">
    <header class="content-list__header">
      <h2 class="content-list__title">Generative</h2>
    </header>
    <ul class="content-list">
      <!-- Ranges through content/blog/*.md -->
      {{ range first 4 ( where .Site.RegularPages "Type" "generative" ) }}
        <li class="content-list__item content-list__item--generative">
          <article class="content-list__item-article" itemscope itemType="http://schema.org/BlogPosting">
            <a class="content-list__item-link" href="{{.RelPermalink}}" title="Read: {{ .Title }}.">
              {{ if .Params.categories }}
                <p class="content-list__item-categories">
                  {{ range $i, $cat := .Params.categories }}{{ if $i }}, {{ end }}{{ $cat }}{{ end }}
                </p>
              {{ end }}
            
              {{ if isset .Params "featured_image" }}
                <figure class="content-list__item-figure">
                  <img src="{{ .RelPermalink }}{{ .Params.featured_image }}" alt="{{ .Title }}" class="content-list__item-image">
                </figure>
              {{ end }}

              <h2 class="content-list__item-title">{{ .Title }}</h2>
              <p class="content-list__item-summary">
                {{ if .Description }}
                  {{ .Description }}
                {{ else }}
                  {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
                {{ end }}
              </p>
            </a>
          </article>
        </li>
      {{ end }}
    </ul>
  </section>

  <section class="content">
    <header class="content-list__header">
      <h2 class="content-list__title">Writing</h2>
    </header>
    <ul class="content-list">
      <!-- Ranges through content/blog/*.md -->
      {{ range first 4 ( where .Site.RegularPages "Type" "writing" ) }}
        <li class="content-list__item">
          <article class="content-list__item-article" itemscope itemType="http://schema.org/BlogPosting">
            <a class="content-list__item-link" href="{{.RelPermalink}}" title="Read: {{ .Title }}.">
              {{ if .Params.categories }}
                <p class="content-list__item-categories">
                  {{ range $i, $cat := .Params.categories }}{{ if $i }}, {{ end }}{{ $cat }}{{ end }}
                </p>
              {{ end }}

              <h2 class="content-list__item-title">{{ .Title }}</h2>
              <p class="content-list__item-summary">
                {{ if .Description }}
                  {{ .Description }}
                {{ else }}
                  {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
                {{ end }}
              </p>
            </a>
          </article>
        </li>
      {{ end }}
    </ul>
  </section>
  
</main>
 
{{ partial "footer/site-footer.html" . }}