@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // sass-lint:disable
  *zoom: 1;
}

@mixin visually-hidden() {
  // sass-lint:disable no-important
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin visually-shown($position: inherit) {
  // sass-lint:disable no-important
  position: $position !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}


// remove defualt styles on lists (for nav type lists)
@mixin no-list() {
	margin: 0;
  padding: 0;
  list-style: none;
}
%no-list {
  @include no-list();
}

@mixin button() {
	text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}
%button {
  @include button();
}
@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%site-padding {
  max-width: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  
  @media (min-width: 500px) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  @media (min-width: 600px) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  @media (min-width: 1400px) {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  @media (min-width: 1800px) {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }
}