// Theme Colours
// =============
$c-primary: #0073e6; //#009ec2;
$c-primary-light: desaturate($c-primary, 10);
$c-primary-dark: saturate($c-primary, 10);

$c-secondary: #54eda1;
$c-secondary-light: desaturate($c-secondary, 10);
$c-secondary-dark: saturate($c-secondary, 10);

$c-tertiary: #8152e0;
$c-tertiary-light: desaturate($c-tertiary, 10);
$c-tertiary-dark: saturate($c-tertiary, 10);

$c-quaternary: #d63850;
$c-quaternary-light: desaturate($c-quaternary, 10);
$c-quaternary-dark: saturate($c-quaternary, 10);

// Shades
// ======
$c-white: #FFF;
$c-black: #000;

$c-grey-100: #F6F6F6;
$c-grey-200: #E0E0E0;
$c-grey-300: #C3C3C3;
$c-grey-400: #A6A6A6;
$c-grey-500: #909090;
$c-grey-600: #737373;
$c-grey-700: #565656;
$c-grey-800: #404040;
$c-grey-900: #262626;
$c-grey-1000: #101010;

// Text
// ========
$c-text: $c-grey-900;
$c-heading: $c-black;
$c-link: $c-primary;

// Fonts
// =====
// $f-primary-fallback: Helvetica, Arial, Verdana, sans-serif;
// $f-primary: 'Inter', #{$f-primary-fallback};
// $f-weight-primary-regular: 400;
// $f-weight-primary-bold: 600;

$f-primary-fallback: serif;
$f-primary: 'Noto Serif', #{$f-primary-fallback};
$f-weight-primary-regular: 400;

$f-secondary-fallback: sans-serif;
$f-secondary: 'Nunito', #{$f-secondary-fallback};
$f-weight-secondary-regular: 400;


// ::-moz-selection { background: $c-primary; color: $c-white; text-shadow: none; }
// ::selection { background: $c-primary; color: $c-white; text-shadow: none; }

