{{ partial "header/site-header.html" . }}
 
<main id="site-main" class="site-main">
  <article role="main" class="post">
    <header class="post__header">
      <aside class="post__metadata">
        {{/*  {{ if .Params.categories }}
          <p class="post__categories">
            {{ range .Params.categories }}
              {{ . }}
            {{ end }}
          </p>
        {{ end }}  */}}
  
        <p class="post__categories post__categories--{{ .Type | urlize }}">{{ .Type }}</p>
        <p class="post__date"><span class="screen-reader-only">Posted on </span><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time></p>
      </aside>

      <h1 class="post__title">{{ .Page.Title }}</h1>
    </header>

    <section class="post__content rte">
      <!-- {{ .TableOfContents }} -->
      {{ .Content }}
    </section>
  </article>
</main>
 
{{ partial "footer/site-footer.html" . }}