<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head/meta.html" . }}

  {{ partial "head/critical-css.html" . }}

  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity=”{{ $style.Data.Integrity }}”>
</head>

<body>
  <a href="#site-main" class="skip-to-content">Skip To Content</a>
  
  <header role="banner" class="site-header">
    <div class="site-header__inner">

      {{if not .IsHome}}
      <p class="logo"><a href="/">Derek Morash</a></p>
      {{else}}
      <h1 class="logo"><a href="/">Derek Morash</a></h1>
      {{end}}

      <nav role="navigation" id="site-navigation" class="site-header__nav">
        <ul class="nav-list">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li class="nav-list__item">
              <a href="{{ .URL }}" class="nav-list__link">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </header>