<!-- image -->
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $title := .Get "title" }}
{{ $attr := .Get "attr" }}
{{ $attrlink := .Get "attrlink" }}
{{ $class := .Get "class" }}
{{ $fullwidth := .Get "fullwidth" }}
{{ $figureclass := "figure" }}

{{ if isset .Params "fullwidth" }}
  {{ if (eq $fullwidth "true")}}
    {{ $figureclass = "figure figure--full-width" }}
  {{ end }}
{{ else }}
  {{ $figureclass = "figure figure--full-width" }}
{{ end }}

<figure class="{{ $figureclass }} {{ $class }}">
    
  {{ with .Get "link"}}<a href="{{.}}">{{ end }}

    {{ $src_match := (print "**/" (.Get "src") ".*") }}
    {{ $src := .Page.Resources.Match $src_match }}
    {{ $img_scratch := newScratch }}
    {{ $img_scratch.Set "src_fallback" "" }}

    <picture data-src-match="{{ $src_match }}">

      {{ with $src }}

        {{ range sort $src "RelPermalink" "desc" }}
          <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">

          {{ if or (eq .MediaType.SubType "jpg") (eq .MediaType.SubType "png") (eq ($img_scratch.Get "src_fallback") "") }}
            {{ $img_scratch.Set "src_fallback" .RelPermalink }}
          {{ end }}
        {{ end }}

        {{ if not (eq ($img_scratch.Get "src_fallback") "") }}
          {{ $src_fallback := $img_scratch.Get "src_fallback" }}
          <img src="{{ $src_fallback }}" {{ if or $alt $caption }}alt="{{ with $alt }}{{.}}{{else}}{{ $caption }}{{ end }}"{{ end }} loading="lazy" />
        {{ end }}
      {{ end }}
      
    </picture>

  {{ if .Get "link"}}</a>{{ end }}


  {{ if or (or $title $caption) $attr}}
  <figcaption>
    {{ if isset .Params "title" }}<h4>{{ $title }}</h4>{{ end }}
    {{ if or $caption $attr}}
      <p>
        {{ $caption }}
        {{ with $attrlink}}<a href="{{.}}"> {{ end }}
          {{ $attr }}
        {{ if $attrlink}}</a> {{ end }}
      </p> 
    {{ end }}
  </figcaption>
  {{ end }}
</figure>
<!-- image -->